.movie-home {
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px 5px;
    margin-top: 5px;

} 
.grid{display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;}
.card{
    border-radius: 4px;
    width: 200px;
    height:282px;
    padding: 5px;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.card-image{
    width: 190px;
    height: 281px;
    border-radius: 4px;
}
@media (max-width: 480px) {
    .movie-home {
      flex-direction: row; /* Div-lər tək sütunda yığılacaq */
      gap: 10px; /* Daha kiçik boşluq */
    }
  }
  @media (max-width: 480px) {
    .movie-home {
      flex-direction: column; /* Div-lər tək sütunda yığılacaq */
      gap: 10px; /* Daha kiçik boşluq */
    }
  }
